$light-green: #82BA26;
$dark-green: #007E62;
$yellow: #F7BD13;
$orange-yellow: #F5A623;
$light-purple: #B18CB1;
$gray: #A7A7A7;
$light-gray: #f5f5f5;
$red: #EA4D30;
$light-brown: #C5B0A0;
$brown: #734B3F;


