@import "./general";

#category-container {
  width: 100%;
  height: 432px;
  padding-top: 95px;
  box-sizing: border-box;

  #category-wrapper {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;

    p {
      color: $yellow;
      font-family: FiraSans-Black;
      font-size: 30px;
      letter-spacing: -0.25px;
      line-height: 48px;
      width: 552px;
      text-align: center;
      margin: 0 auto;
    }

    #categories {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 89px 0 24px;

      .category-box {
        width: 120px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        img {
          width: 120px;
          height: 120px;
        }

        p {
          width: 100%;
          font-family: FiraSans-Black;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          padding-top: 16px;
          white-space: pre-wrap;

        }

        .light-green {
          color: $light-green
        }

        .orange-yellow {
          color: $orange-yellow
        }

        .light-purple {
          color: $light-purple;
        }

        .gray {
          color: $gray;
        }

        .red {
          color: $red;
        }

        .light-brown {
          color: $light-brown;
        }

      }
    }
  }

}

#central-block {
  width: 100%;
  min-height: 600px;
  height: auto;
  background-color: $light-gray;
  padding-bottom: 170px;

  .products-wrapper {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;

    #caption-container {
      width: 100%;
      height: 215px;
      display: flex;
      justify-content: space-between;

      #about-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        #caption {
          color: $brown;
          font-family: FiraSans-Black;
          font-size: 24px;
          letter-spacing: -0.2px;
          width: 360px;
          text-align: left;
        }

        #counter {
          color: $brown;
          font-family: OpenSans-Regular;
          font-size: 13px;
          line-height: 24px;
          width: 360px;
          text-align: left;
        }
      }

      #products-pages {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
          width: 40px;
          height: 40px;
          border-radius: 10px;
          background-color: white;
          margin-right: 6px;
          box-shadow: 0 0 2px 0 rgba(115, 75, 63, 0.3);
          padding-top: 8px;
          box-sizing: border-box;
          cursor: pointer;

          color: $brown;
          font-family: OpenSans;
          font-weight: bold;
          font-size: 13px;
          line-height: 24px;
          text-align: center;
        }
      }

    }

    #products-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .one-product-container {
        width: 360px;
        height: 432px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 30px;
        background-color: white;
        margin: 0 12px 24px 12px;

        .image-wrap {
          width: 300px;
          height: 192px;
          padding: 24px 0;
          margin: 0 auto;

          img {
            width: 100%;
            height: auto;

          }
        }

        .product-name {
          color: $brown;
          font-family: FiraSans;
          font-size: 20px;
          line-height: 24px;
          width: 360px;
          text-align: center;
        }

        .product-price {
          color: $orange-yellow;
          font-family: FiraSans;
          font-size: 16px;
          line-height: 24px;
          width: 360px;
          text-align: center;
        }

        .button-add {
          display: block;
          width: 216px;
          height: 64px;
          border-radius: 100px;
          background-color: $yellow;
          border: none;
          margin: 24px auto;

          color: $brown;
          font-family: OpenSans-Regular;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
        }

        .button-add:hover {
          box-shadow: 0 16px 30px 0 #F5A623;
          cursor: pointer;
        }

      }
    }
  }
}




